.feed{
    flex: 0.5;
    margin: 0px 20px;
    width: 100%;
}

.feed_inputContainer{
   background-color: white;
   padding: 10px;
   padding-bottom: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
   border: 1px solid lightgray;
	top: 80px;
	position: sticky;
	z-index: 100;
}

.feed_input{
    border: 1px solid lightgrey;
    border-radius: 20px;
    display: flex;
    padding: 10px;
    color: grey;
    padding-left: 15px;
}



.feed_input>form{
    display: flex;
    

}

.feed_input>form>input{
    border: none;
    flex: 1;
    outline-width: 0;
    margin-left: 10px;
    font-weight: 600;
    outline: none;
	border: none;
	background: none;

}

.feed_input>form>button{
    display: none;
}
.feed_inputOptions{
    display: flex;
    justify-content: space-evenly;
    
}

.posts {
	height: 60vh;
	overflow-x: hidden;
	overflow-y: auto;
}

@media screen and (max-width: 700px) {
	.feed {
		order: 5;
		margin-bottom: 50px;
	}

	.feed_input {
		border: 1px solid lightgray;
		border-radius: 30px;
		display: flex;
		padding: 5px;
		margin: 5px;
		color: gray;
		padding-left: 5px;
	}

	.posts {
		padding-top: 35px;
		height: 55vh;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.feed_inputContainer {
		padding: 1px;
		padding-bottom: 2px;
		margin-bottom: 12px;
	}
}